# ======= سایت و وب =======
Flask
Django
fastapi
Jinja2
requests
aiohttp
quart
bottle
hug

# ======= ربات‌سازی =======
pyTelegramBotAPI
telethon
aiogram
python-telegram-bot
pyrogram

# ======= برنامه‌سازی دسکتاپ =======
PySimpleGUI
DearPyGui

# ======= بازی‌سازی =======
pygame
arcade
pyglet
ursina

# ======= پایگاه داده =======
sqlalchemy
pymongo
redis
tinydb
dataset
peewee
aiomysql

# ======= فضای ابری و API =======
boto3
google-api-python-client
firebase-admin
python-cloudant
websockets

# ======= داده و علم داده =======
numpy
pandas
scipy
matplotlib
seaborn
plotly
scikit-learn

# ======= پردازش متن / NLP =======
nltk
spacy
transformers
textblob
gensim
fasttext

# ======= شبکه و امنیت =======
cryptography
pyOpenSSL
dnspython
netifaces
paramiko

# ======= سیستم و مدیریت فایل =======
watchdog
psutil
pathlib
shutil
tempfile
glob
zipfile
tarfile

# ======= ابزارهای کمکی =======
python-dotenv
loguru
rich
tqdm
pydantic
click
fire
boltons
faker
attrs
