flask
telethon
pymongo
dnspython
requests
jdatetime
APScheduler
PySDL2
PySocks
PyYAML
Pygments
Pyrogram
Telethon
TgCrypto
astroid
audiostream
cachetools
cmake
contourpy
cryptography
cycler
dill
distro
dnspython
docutils
filetype
fonttools
gTTS
isort
jdatetime
jedi
kiwisolver
lazy-object-proxy
matplotlib
mccabe
ninja
numpy
parso
pillow
pkgconfig
platformdirs
playsound
pyTelegramBotAPI
pyaes
pyasn1
pybind11
pycryptodome
pylint
pymongo
pyngrok
pyparsing
pytesseract
python-telegram-bot
pyttsx3
rsa
scikit-build
sounddevice
tomlkit
tornado
wrapt
